.top_header, .buttom_header{
    a,button,.burger_menu{
        border: none;
        margin: 8px;
        padding: 9px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 15px;
        &:hover{
            border: 1px solid white;
        }
    } 
}

.top_header{
    
    float: none;
    .main_logo{
        padding: 0px;
        height: 50px !important;
        width: 113px;
        
    }

    

    .location_mark{
        color: #fff;
    }

    .caret_down_light{
        // height: 15px;
        color: white ;
        z-index: 30000000;
    }

    .caret_down_dark{
        // height: 15px;
        // color: #000 ;
        z-index: 100000 ;
    }
    
    .sign_in {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 5px;
    }
    
    .delivery{
        display: flex;
    }

    

    .deliver_to,.returns,.sign_div{
        display: flex;
        flex-direction: column;
        align-items: start;
        color: #fff;
        font-weight: 700;
        &>span:first-child{
            font-size: 12px;
            line-height: 14px;
            height: 14px;
            color: #ccc;
            font-weight: 400;
        }
    }
    .cart{
        color: #fff;
        display: flex;
    }

}


.buttom_header{
    color: #ccc;
    font-weight: bolder;
    display: flex;
    align-items: center;
   padding-left:20px ;
    
   .category{
       background-color: #fff;
       color: #ccc;
       margin-right: 0px;
   }
}

.delivery_background{
    background-color: red;
}