.category{
    // &:hover .category_dropdown{
    //     display: block;
    // }
    .category_dropdown{
        display: none;
        padding: 0px;
        margin: 0px;
        height: 280px;
        overflow-y: auto  ;
        overflow-x: hidden  ;
        width: 240px ;
        position: absolute;
        left: 0px;
        top: 40px;
        


        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            text-decoration: none;
            background-color: #fff;
            align-items: start;
            padding: 10px 0px;
            margin: 0px;
            width: 240px ;

        }
        li{
            position: relative;
            padding: 5px 0px;
            margin: 0px;
            // width: 100%;
            left: 2px;
            &:hover{
                background-color: grey;
            }
        }
        a{
            text-decoration: none;
            font-size: 16px;
            color: black;
            border: none;
            margin: 0px;
            padding: 8px;
            width: 100%;
            &:hover{
                border: none !important;
            }
        }
        
    }
    
    .category_add{
        display: block !important;
    }
}