@use "../absreacts/variables" as *;

body{
    margin: 0px;
    padding: 0px;
}

header{
    margin: 0px;
    padding: 0px;
    height: 99px;
}

.top_header{
    display: flex;
    background-color: $darkBlue;
    height: 60px;
    width: 100%;
    .main_logo{
        width: 113px;
        height: 60px;
    }

    

    .right_side_nav{
        display: flex;
        position: absolute;
        right:5px ;
    }
}

.buttom_header{
    display: flex;
    background-color: lightgreen;
    height: 39px;;
}
