@use "../absreacts/index/mixins" as *;

$header:header{
        @include m_p;
        .top_header {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        background-color: $very_dark_blue;
        height: 60px;
        color: #fafafa;
        align-items: center;
        }
       
        
        .main_logo{
            margin-left: 10px ;
            margin-top: 20px ;
            margin-bottom: 20px;
            height: 30px;
            width: 100px;
            @include top_header_buttons($padding:5px 10px 20px 5px) ;
        }

        .delivery{
            // @include top_header_buttons($f_d:row,$padding:6px);
        }
        i{
            margin: 8px;
        }
        
        p,h4{
          font-size: $f-xs;  
          @include m_p; 
        }

        .form{
            display: flex;
            align-items: center;

            
            
            button{
                height: 38px;
                border: #fafafa;
                
            }
            
            .category{
                display: flex;
                align-items: center;
                border-radius: 5px 0px 0px 5px;
                &:hover{
                    background-color: $light_white;
                }
            }

            input{
                height: 38px;
                width: 600px;
                border: none;
                outline: none;
                @include m_p;
                padding-left: 5px;
                font-size: $f-md;
                
            }  

            .nav_btn{
                background-color: $orange;
                font-size: larger;
                border-radius: 0px 5px 5px 0px;
                
                &:hover{
                    background-color: $paper_orange;
                    
                }

            }
            
        }

        input:focus:parent(.form) {
            border: red solid 2px;
        }

        .language{
            @include top_header_buttons($f_d:row,$padding:4px );
            background-color: $very_dark_blue;
            border: none;

            img{
                height: 15px;
                width: 30px;
                margin-top: 5px;
                background-color: none;
            }

            i{
                color: #fafafa;
            }
        }
        
        .sign{
            display: flex;
            @include top_header_buttons($f_d:row,$padding:2px);
            height: 40px;
            width: 100px;
            
            .sign_in{
                display: flex;
                flex-direction: column;
            }

        }

        .Returns{
            @include m_p;
            .returns_and_orders{
                @include top_header_buttons($padding:0px);
                width:50px;
            }
        }

        
        .carts{
                @include top_header_buttons($f_d:row,$padding:0px);
                align-items: center;
                margin-right:50px ;
                height: 50px;
                width: 70px;
        }
        
        h3{
            font-size: $f-md;
            font-weight: bold;
        }
    }
    
    .buttom_header{
        display: flex;
        // justify-content: space-between;
        text-decoration: none;
        background-color: $derk_blue;
        height: 40px;
        color: #fafafa;
        align-items: center;
        .burger_menu{
            @include buttom_header_buttons($f_d:row);
            margin-left:10px ;
            height: 30px;
            width: 50px;
            h3{
                margin-left: 5px;
            }
            
        }

        h4{
            @include buttom_header_buttons($padding:5px);
            text-decoration: none !important;
            font-style: none;
            margin-left: 10px;
            margin-bottom: 25px;
        }
        
    }
    
    
    
}


