body {
  margin: 0px;
  padding: 0px;
}

header {
  margin: 0px;
  padding: 0px;
  height: 99px;
}

.top_header {
  display: flex;
  background-color: #131921;
  height: 60px;
  width: 100%;
}
.top_header .main_logo {
  width: 113px;
  height: 60px;
}
.top_header .right_side_nav {
  display: flex;
  position: absolute;
  right: 5px;
}

.buttom_header {
  display: flex;
  background-color: #232f3e;
  height: 39px;
}
.buttom_header .menu {
  background-color: #fff;
  color: black;
  width: 365px;
  height: 100vh;
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: scroll;
}
.buttom_header .menu > div {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 5px 30px;
}
.buttom_header .menu .hello_sign_in {
  background-color: #232f3e;
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 20px;
  font-size: 15px;
  height: 50px;
  justify-content: start;
}
.buttom_header .menu .hello_sign_in i {
  background-color: #fff;
  color: #232f3e;
  border-radius: 50px;
  font-size: 23px;
  height: 27px;
  width: 27px;
  padding-left: 6px;
  padding-top: 5px;
}
.buttom_header .menu .hello_sign_in h3 {
  padding-left: 10px;
}

.carousel {
  background-color: lightgreen;
  height: 100vh;
  width: 96%;
  margin: 0% auto;
  z-index: -1;
}

.main {
  background-color: #febd69;
  width: 92vw;
  height: 100vh;
  margin: auto;
  position: absolute;
  top: 50vh;
  left: 3.5%;
}

.top_header a, .top_header button, .top_header .burger_menu, .buttom_header a, .buttom_header button, .buttom_header .burger_menu {
  border: none;
  margin: 8px;
  padding: 9px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 15px;
}
.top_header a:hover, .top_header button:hover, .top_header .burger_menu:hover, .buttom_header a:hover, .buttom_header button:hover, .buttom_header .burger_menu:hover {
  border: 1px solid white;
}

.top_header {
  float: none;
}
.top_header .main_logo {
  padding: 0px;
  height: 50px !important;
  width: 113px;
}
.top_header .location_mark {
  color: #fff;
}
.top_header .caret_down_light {
  color: white;
  z-index: 30000000;
}
.top_header .caret_down_dark {
  z-index: 100000;
}
.top_header .sign_in {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
}
.top_header .delivery {
  display: flex;
}
.top_header .deliver_to, .top_header .returns, .top_header .sign_div {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #fff;
  font-weight: 700;
}
.top_header .deliver_to > span:first-child, .top_header .returns > span:first-child, .top_header .sign_div > span:first-child {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  color: #ccc;
  font-weight: 400;
}
.top_header .cart {
  color: #fff;
  display: flex;
}

.buttom_header {
  color: #ccc;
  font-weight: bolder;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.buttom_header .category {
  background-color: #fff;
  color: #ccc;
  margin-right: 0px;
}

.delivery_background {
  background-color: red;
}

.form {
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px;
  margin: auto 0px;
  resize: horizontal;
  flex-grow: 1;
  max-width: 800px;
}
.form .category {
  height: 40px;
  position: relative;
  margin: 0px;
  padding: auto;
  border-radius: 5px 0px 0px 5px;
}
.form .nav_input {
  height: 38px;
  margin: 0px;
  padding: auto;
  border: none;
  outline: none;
  resize: horizontal;
  flex-grow: 1;
  max-width: 900px;
}
.form .nav_btn {
  background-color: orange;
  height: 40px;
  margin: 0px;
  padding: auto;
  border-radius: 0px 5px 5px 0px;
}

.input_focused {
  border: 3px solid orange;
}

.category .category_dropdown {
  display: none;
  padding: 0px;
  margin: 0px;
  height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 240px;
  position: absolute;
  left: 0px;
  top: 40px;
}
.category .category_dropdown ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  background-color: #fff;
  align-items: start;
  padding: 10px 0px;
  margin: 0px;
  width: 240px;
}
.category .category_dropdown li {
  position: relative;
  padding: 5px 0px;
  margin: 0px;
  left: 2px;
}
.category .category_dropdown li:hover {
  background-color: grey;
}
.category .category_dropdown a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  border: none;
  margin: 0px;
  padding: 8px;
  width: 100%;
}
.category .category_dropdown a:hover {
  border: none !important;
}
.category .category_add {
  display: block !important;
}

/*# sourceMappingURL=style.css.map */
